server = {{ fusioninventory_server }}
delaytime = 3600
lazy = 0
scan-homedirs = 0
scan-profiles = 0
html = 0
backend-collect-timeout = 30
force = 0
additional-content =
no-p2p = 0
proxy =
user =
password =
ca-cert-dir =
ca-cert-file = {{ fusioninventory_cert }}
no-ssl-check = 0
timeout = 180
no-httpd = 0
httpd-ip =
httpd-port = 62354
httpd-trust =
logger = stderr
logfacility = LOG_USER
color = 0
tag = 
debug = 0
